body {
  background: #0147A7;
  color: #fff;
  height: 100%;
  min-height: 100vh;
}

.ng-scope {
  height: 100%;
  min-height: 100vh;
}

a {
  color: #03A9F5;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
  min-height: 50px;
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
}